<section id="contactanos" class="w-full py-16 px-4 bg-gradient-to-b from-white to-gray-50">
  <div class="max-w-6xl mx-auto">

    <!-- TÍTULO -->
    <div class="flex justify-center  items-center flex-col text-center mb-12">
      <h1 class="text-3xl md:text-4xl font-extrabold text-gray-800 m-4">
        Trabaja con nosotros
      </h1>
      <img src="/Creditek/webp/trabajaconNosotros.webp" alt="" width="900">
      <p class="mt-3  text-base md:text-lg">
        Sé parte de un equipo en crecimiento y accede a nuevas oportunidades
      </p>

      <!-- Divider -->
      <div class="flex justify-center mt-6">
        <span class="h-1 w-48 rounded-full bg-gradient-to-r from-emerald-500 to-orange-400"></span>
      </div>
    </div>

    <!-- BOTONES -->
    <div class="flex flex-col lg:flex-row gap-6 justify-center items-center">

      <!-- BOTÓN POSTULACIÓN -->
      <a
        href="/trabaja-con-nosotros"
        class="group w-full sm:w-80 px-8 py-5 rounded-2xl
               bg-gradient-to-r from-emerald-700 to-emerald-500
               text-white text-center
               shadow-lg hover:shadow-2xl
               transition-all duration-300 hover:-translate-y-1"
      >
        <div class="flex flex-col gap-1">
          <span class="text-sm opacity-90">
            Únete a nuestro equipo
          </span>
          <span class="text-xl font-bold group-hover:underline">
            Postúlate aquí
          </span>
        </div>
      </a>

      <!-- BOTÓN WHATSAPP -->
      <a
        href="https://wa.me/+593962749300?text=Hola%20quiero%20cotizar%20un%20equipo"
        target="_blank"
        class="group w-full sm:w-80 px-8 py-5 rounded-2xl
               bg-gradient-to-r from-orange-500 to-orange-400
               text-white text-center
               shadow-lg hover:shadow-2xl
               transition-all duration-300 hover:-translate-y-1"
      >
        <div class="flex flex-col gap-1">
          <span class="text-sm opacity-90">
            Ventas y cotizaciones
          </span>
          <span class="text-xl font-bold group-hover:underline">
            Cotizar ahora
          </span>
        </div>
      </a>

    </div>

  </div>
</section>
