<section
  id="perfil"
  class="flex flex-col md:flex-row justify-center items-center p-10 gap-10 rounded-lg shadow-md"
>
  <div>
    <img
      class="rounded-e-md"
      src="/perfil2.webp"
      alt="Aqui va una imagen"
      width="340px"
    />
  </div>
  <div class="w-full md:w-1/2 my-2 flex flex-col justify-center gap-5">
    <h1 class="text-4xl">
      <span
        class="fleur-de-leah-regular bg-gray-900 text-white px-4 rounded-xl"
      >
        Dra. Alexandra Fierro
      </span>
    </h1>
    <div class="text-[0.750rem] sm:text-sm">
      <p>
        - Egresada de la facultad de odontología de la Universidad Central del
        Ecuador en 2002
      </p>
      <p>- Especialista en RO y estética dental UCE en 2008</p>
      <p>- Especialista en Diseño de Sonrisa Digital en 2014</p>
      <p>- Especialista en Carillas de Cerámica en 2016</p>
      <p>- Especialista en temporomandibulares y bruxismo en 2015</p>
      <p>
        - Docente de pregrado y postgrado de la UISEK Universidad Internacional
        SEK
      </p>
    </div>

    <p class="font-bold text-justify text-[0.750rem]">
      Apasionada por la <span class="italic"> “ESTETICA DENTAL”.</span> Te capacito
      profesional odontólogo con las herramientas y técnicas de vanguardia para que
      te sientas en la capacidad de planear y ejecutar un diseño de sonrisa con técnica
      directa.
    </p>
    <img src="/firma.webp" alt="firma" class="w-full lg:w-1/2" />
  </div>
</section>
