<section  id="quienes-somos" class="bg-gray-50 py-24 px-6">
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
      <!-- TEXTO -->
      <div class="text-center lg:text-left">
        <h2
          class="text-4xl lg:text-[2.4rem] font-extrabold text-gray-900 leading-tight mb-6"
        >
          Un a침o construyendo confianza <br />
          <span class="text-orange-500">en toda la regi칩n Sierra</span>
        </h2>

        <p class="text-gray-600 text-lg mb-4 leading-relaxed">
          Agradecemos a todos nuestros clientes y colaboradores por confiar en
          nosotros. Seguiremos esforz치ndonos cada d칤a para ser mejores y ofrecer
          siempre lo mejor.
        </p>

        <p class="mt-6 font-semibold text-gray-900 space-y-2">
          <span class="block">游늳 M치s familias conectadas</span>
          <span class="block">游뱋 M치s oportunidades de trabajo</span>
          <span class="block">游님 M치s tecnolog칤a al alcance de todos</span>
        </p>
      </div>

      <!-- GALER칈A -->
      <div class="grid grid-cols-2 gap-4">
        <!-- Imagen grande -->
        <div
          class="col-span-2 relative group overflow-hidden rounded-2xl shadow-2xl"
        >
          <img
            src="/Creditek/webp/jefa.webp"
            alt="Creditek"
            class="w-full h-64 object-cover transition-transform duration-500 group-hover:scale-110"
          />
          <div
            class="absolute inset-0 bg-black/30 opacity-0 group-hover:opacity-100 transition"
          >
          </div>
        </div>

        <!-- Imagen 2 -->
        <div class="relative group overflow-hidden rounded-2xl shadow-xl">
          <img
            src="/Creditek/webp/2.webp"
            alt="Creditek"
            class="w-full h-48 object-cover transition-transform duration-500 group-hover:scale-110"
          />
          <div
            class="absolute inset-0 bg-black/30 opacity-0 group-hover:opacity-100 transition"
          >
          </div>
        </div>

        <!-- Imagen 3 -->
        <div class="relative group overflow-hidden rounded-2xl shadow-xl">
          <img
            src="/Creditek/webp/venta.webp"
            alt="Creditek"
            class="w-full h-48 object-cover transition-transform duration-500 group-hover:scale-110"
          />
          <div
            class="absolute inset-0 bg-black/30 opacity-0 group-hover:opacity-100 transition"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
