---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import Banner from "../components/Banner.astro";
import Layout from "../layouts/Layout.astro";
import Whatsapp from "../components/Whatsapp.astro";
import Productos from "../components/Productos.astro";
import Credito from "../components/Credito.astro";
import Branches from "../components/Branches.astro";
import Testimonio from "../components/Testimonio.astro";
import Contacto from "../components/Contacto.astro";
---

<Layout title="CrediTek">
  <NavBar />

  <section id="home">
    <Banner />
  </section>

    <Branches />

    

  <Productos/>

  <Credito/> 


  <Testimonio />


<Contacto />

 
  <Whatsapp />
  <Footer />
</Layout>
