DB_NAME=APOLO
DB_USER=postgres
DB_PASS=apolo_password
DB_HOST=localhost
DB_PORT=5432

PORT=5030
WEB_CORS=http://localhost:8080
JWT_SECRET=apolo_secret
RVE_SYNC_URL=http://localhost:5020
RVE_SYNC_TOKEN=
