<section id="contacto" class="py-24">
  <div class="max-w-xl mx-auto px-6">
    <h3 class="text-4xl font-bold text-center mb-10">Contáctanos</h3>
    <form class="space-y-6">
      <input
        type="text"
        placeholder="Nombre"
        class="w-full p-4 border rounded-xl focus:ring-2 focus:ring-green-500 outline-none"
      />
      <input
        type="email"
        placeholder="Correo"
        class="w-full p-4 border rounded-xl focus:ring-2 focus:ring-orange-500 outline-none"
      />
      <textarea
        placeholder="Mensaje"
        class="w-full p-4 border rounded-xl focus:ring-2 focus:ring-green-500 outline-none"
      ></textarea>
      <button
        class="w-full bg-green-600  py-4 rounded-xl font-semibold hover:bg-orange-500 transition-all shadow-lg"
      >
        Enviar mensaje
      </button>
    </form>
  </div>
</section>
