<section
  id="inicio"
  class="min-h-screen flex items-center pt-24  from-green-500 to-orange-400 "
>
  <div class="max-w-7xl mx-auto px-6 grid md:grid-cols-2 gap-12 items-center">
    <div>
      <h2 class="text-5xl font-extrabold mb-6 leading-tight">
        Impulsa tu negocio<br />
        con tecnología <span class="text-orange-400">futurista</span>
      </h2>
      <p class="text-lg mb-8 /90">
        Automatización, landing pages y sistemas modernos diseñados para crecer.
      </p>
      <a
        href="#contacto"
        class="inline-block  text-green-600 px-8 py-4 rounded-xl font-bold hover:bg-orange-500 hover: transition-all shadow-lg"
      > 
        Trabaja con Nosotros
      </a>
    </div>
    <div class="hidden md:block">
        <img src="./Principal.jpg" alt="">
    </div>
  </div>
</section>
